.tags*
.history

!.keep
*.DS_Store
/coverage/*
/log/*

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.env.staging
.env.staging.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

settings.json
.vscode/launch.json
.jshintrc
src/homefeed_example.json
