// Main Colors
$main-color: #1de9b6;
$secondary-color: #23a9f6;
$tertiary-color: #9b9b9b;

$smoke-grey: #eeeeee;
$smoke-grey-two: #e0e0e0;
$sun-yellow: #f8e81c;
$twilight-blue: rgba(16, 49, 132, 0.75);
$facebook: #4465b4;

// Text Colors
$main-text-color: black;
$secondary-text-color: $secondary-color;
$tertiary-text-color: $tertiary-color;
$placeholder-text-color: $tertiary-color;

// Text
$text-font-family: Roboto;

$text-main-font-weight: 400;
$text-secondary-font-weight: 300;
$title-font-weight: 500;
$subtitle-font-weight: 500;
$strong-font-weight: 700;
$light-font-weight: 100;

$title-font-size: 40px;
$subtitle-font-size: 20px;

// Screen sizes
$screen-xs-max: 767px;
$screen-sm-min: $screen-xs-max + 1;
$screen-sm-max: 991px;
$screen-md-min: $screen-sm-max + 1;
$screen-md-max: 1199px;
$screen-lg-min: $screen-md-max + 1;
