.book-now-tile {
  .book-now-tile-title {
    font-weight: 100;
    padding: 15px 20px;
  }

  .book-now-tile-details {
    border: solid 1px $smoke-grey-two;
    padding: 20px;

    .book-now-tile-datepicker-title {
      & > div {
        float: left;
        width: calc((100% - 26px) / 2);

        & + div {
          margin-left: 26px;
        }
      }
    }

    .DateRangePicker,
    .DateRangePickerInput {
      width: 100%;

      .DateInput {
        width: calc((100% - 24px) / 2);
      }
    }

    .book-now-tile-details-rates {
      margin-top: 20px;

      .book-now-tile-details-rate {
        padding: 10px 0;

        & + .book-now-tile-details-rate {
          border-top: solid 1px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .book-now-button {
      border-radius: 4px;
      max-width: 364px;
      width: 100%;
      height: 44px;
    }
  }
}

/* Bookings Calendar */
.bookings-calendar {
  .bookings-calendar-loading {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background: white;
    z-index: 20;
    opacity: 0.9;

    .loading-div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .bookings-calendar-main-container {
    padding: 25px 15px;

    .DayPicker {
      margin: auto;

      .day-changed-span,
      .day-not-available-span {
        position: absolute;
        border-radius: 6px;
        top: 4px;
        right: 4px;
        width: 6px;
        height: 6px;
      }

      .day-changed-span {
        background: $secondary-color;
      }

      .day-not-available-span {
        background: red;
      }
    }
  }

  .bookings-calendar-set-rate-tile {
    position: relative;
    border: solid 1px $smoke-grey-two;
    margin: 24px auto;
    left: 50%;
    transform: translateX(-50%);
    max-width: 648px;

    .bookings-calendar-set-rate-tile-title {
      height: 48px;
    }

    .bookings-calendar-set-rate-tile-container {
      padding: 24px 20px;

      .bookings-calendar-set-rate-details {
        & > div {
          border-bottom: solid 1px rgba(0, 0, 0, 0.1);
          padding-top: 10px;

          &:first-child {
            padding-bottom: 5px;
          }
        }
      }
    }

    .bookings-calendar-set-price-details {
      margin-top: 24px;

      input,
      input + button {
        display: inline-block;
        height: 34px;
      }

      input {
        width: calc(100% - 180px);
      }

      input + button {
        margin-left: 15px;
        width: 165px;
      }
    }

    .bookings-calendar-save-changes {
      margin-top: 24px;

      button {
        width: 100%;
        max-width: 180px;

        &:first-child {
          border: solid 1px $secondary-color;
        }

        & + button {
          margin-left: 10px;
        }
      }
    }

    .DateInput__disabled,
    .DateRangePickerInput__disabled {
      background: white;
    }

    .fleet-checkbox {
      label {
        height: 20px;
        width: 20px;
        margin-bottom: 0;

        &:after {
          left: 3px;
        }
      }
    }
  }
}

/* Booking Form */
.booking-form {
  & > div:first-child {
    padding: 24px 15px;
  }

  .booking-form-listing-details {
    margin-bottom: 10px;
  }

  .booking-form-listing-user-details {
    img {
      width: 74px;
      height: 74px;
      border-radius: 74px;
      object-fit: cover;

      & + a,
      & + span {
        display: block;
        margin-top: 5px;
      }
    }
  }

  .booking-form-status {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }

  .booking-form-renter-details {
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    .booking-form-renter-image-and-name {
      .booking-form-renter-image {
        border-radius: 74px;
        width: 74px;
        height: 74px;
        background-position: center;
        background-size: cover;
      }
    }

    .booking-form-renter-name-and-rating {
      position: relative;
      padding-left: 10px;
      width: calc(100% - 74px);

      .rating-input,
      .rating-input + span {
        float: left;
      }

      .rating-input {
        padding-top: 4px;

        label {
          font-size: 15px;
        }
      }

      .rating-input + span {
        margin-left: 5px;
      }

      @media screen and (max-width: $screen-xs-max) {
        .rating-input {
          position: relative;
          left: 0;
          transform: none;

          & + span {
            margin-left: 10px;
            height: 40px;
            line-height: 45px;
          }
        }
      }
    }

    .booking-form-renter-identification {
      .booking-form-details-row:first-child {
        border-top: solid 1px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
      }
    }
  }

  .booking-form-box {
    border: solid 1px #e0e0e0;
    padding: 0 20px;

    & + .booking-form-box {
      margin-top: 24px;
    }
  }

  .booking-form-details-row {
    padding: 8px 0;

    & + .booking-form-details-row {
      border-top: solid 1px rgba(0, 0, 0, 0.1);
    }
  }

  .booking-form-quotation-details {
    padding-top: 20px;
    padding-bottom: 5px;

    .booking-form-quotation-datepicker-title {
      div:last-child {
        padding-left: 20px;
      }
    }

    .DateRangePicker {
      width: 100%;

      .DateRangePickerInput {
        width: 100%;
        padding-left: 0;

        .DateInput {
          width: calc((100% - 24px) / 2);

          &:first-child {
            .DateInput_displayText {
              padding-left: 5px;
            }
          }
        }
      }

      & + div {
        margin-top: 14px;
      }
    }

    .booking-form-quotation-details-rate {
      padding: 8px 0;

      & + .booking-form-quotation-details-rate {
        border-top: solid 1px rgba(0, 0, 0, 0.1);
      }
    }

    .booking-form-quotation-on-demand {
      padding-bottom: 8px;
      border-bottom: solid 1px $smoke-grey-two;

      & + div {
        margin-top: 8px;
      }
    }

    .booking-form-quotation-on-demand-details {
      padding: 12px 0;

      .booking-form-quotation-on-demand-times {
        .ant-time-picker {
          display: block;
        }
      }

      .booking-form-quotation-on-demand-locations {
        margin-top: 20px;

        input {
          border: solid 1px #e0e0e0;
          padding-left: 12px;
          height: 46px;
        }
      }
    }

    .booking-form-quotation-map {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    @media screen and (max-width: $screen-xs-max) {
      .booking-form-quotation-on-demand-details {
        .booking-form-quotation-on-demand-times,
        .booking-form-quotation-on-demand-locations {
          div + div {
            margin-top: 10px;
          }
        }
      }
    }

    @media screen and (min-width: $screen-sm-min) {
      .booking-form-quotation-on-demand-details {
        .booking-form-quotation-on-demand-locations {
          div + div {
            input {
              border-left: none;
            }
          }
        }
      }
    }
  }

  .booking-form-insurance-criteria-row {
    input[type=text] {
      width: 40px;
      text-align: center;
    }
  }

  .booking-form-terms-and-rules {
    #booking_form_message_to_owner {
      height: 150px;
      resize: none;
    }
  }

  .booking-form-action-buttons {
    padding: 17px 15px;
    box-shadow: 0 -1px 0 0 $smoke-grey-two;

    & > div {
      & + div {
        margin-top: 17px;
      }
    }

    button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 364px;
    }
  }

  .booking-form-vehicle-survey {
    .fleet-checkbox {
      label {
        top: 3px;
      }
    }
  }

  .booking-form-vehicle-survey,
  .booking-form-get-listing-directions {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .booking-form-get-listing-directions {
    & > span {
      display: inline-block;
      width: calc(100% - 105px);
    }

    & > a {
      width: 105px;
    }
  }

  .fleet-signature-box {
    margin-top: 24px;
  }

  .fleet-checkbox label {
    height: 18px;
    margin-bottom: 0;

    &:before {
      left: 1px !important;
    }
  }

  .location-search-results .dropdown-menu {
    max-width: inherit !important;
  }

  .insurance-criteria-info-icon {
    &:hover ~ .insurance-criteria-info-div {
      opacity: 1;
      z-index: 1000;
      transition: ease-in 0.2s;
    }
  }

  .insurance-criteria-info-div {
    opacity: 0;
    position: absolute;
    background: white;
    top: 100%;
    padding: 15px;
    z-index: -1;
    box-shadow: 0px 0px 3px 1px $smoke-grey-two;
  }
}

.bookings-overview {
  padding-bottom: 30px;

  .listings-selector-bar {
    margin-bottom: 30px;
  }

  & > div:first-child:not(.listings-selector-bar) {
    margin-top: 30px;
  }

  .renter-bookings-overview-previous-list {
    margin-top: 30px;
  }

  .bookings-overview-list-expand {
    span {
      cursor: pointer;
    }
  }
}

.booking-row {
  border: solid 1px #e0e0e0;
  height: 94px;

  .booking-row-vehicle-and-owner {
    display: table;
    height: 100%;
    width: calc(100% - 80px);

    .booking-row-vehicle-image {
      width: 140px;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .booking-row-vehicle-and-owner-info {
      height: 100%;
      padding: 7px 10px;
    }

    .booking-row-vehicle-image,
    .booking-row-vehicle-and-owner-info {
      display: table-cell;
    }
  }

  .booking-row-renter-and-dates {
    padding: 7px 12px;

    .booking-row-renter-image {
      width: 64px;
      height: 64px;
      border-radius: 64px;
      background-position: center;
      background-size: cover;
    }

    .booking-row-renter-and-dates-info {
      padding-left: 10px;
      width: calc(100% - 64px);
      height: 100%;
    }
  }

  .booking-row-status {
    position: absolute;
    right: 18px;
    top: 7px;
  }

  & + .booking-row {
    margin-top: 24px;
  }

  @media screen and (max-width: $screen-xs-max) {
    height: initial;

    .booking-row-vehicle-and-owner {
      .booking-row-vehicle-image {
        width: 80px;
      }

      .booking-row-vehicle-and-owner-info {
        div {
          font-size: 12px !important;

          &.fs-18 {
            font-size: 14px !important;
          }
        }
      }
    }

    .booking-row-status {
      right: 10px;
      max-width: 80px;
    }
  }
}

.booking-form-check-in-buttons {
  button {
    margin-top: 24px;
  }

  .booking-form-check-in-signatures {
    overflow: hidden;
  }
}

.booking-review {
  padding-top: 20px;
  padding-bottom: 20px;

  .booking-review-tile {
    margin-top: 20px;
    border: solid 1px $smoke-grey-two;

    .booking-review-header {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .booking-review-items {
      .booking-review-item-row {
        padding: 6px 0;
        border-bottom: solid 1px $smoke-grey-two;

        & > div:first-child {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .booking-review-feedback {
      textarea {
        padding-left: 0;
        padding-top: 8px;
        border: 0;
        min-height: 100px;
        resize: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .booking-review-action-buttons {
    margin-top: 20px;
  }
}

.booking-survey-div {
  .booking-survey-raise-issue-tile,
  .booking-survey-issues-list {
    margin-top: 24px;
  }

  .booking-survey-raise-issue-tile-content {
    border: solid 1px $smoke-grey-two;

    input,
    textarea {
      border: solid 1px $smoke-grey-two;
    }

    input {
      height: 36px;
    }

    textarea {
      resize: none;
      min-height: 100px;
    }

    & > div {
      padding: 0;

      .form-row {
        div:first-child {
          color: $tertiary-text-color;
        }
      }

      &  + div {
        margin-top: 24px;
      }
    }

    & > button {
      margin-top: 24px;
    }

    @media screen and (min-width: $screen-sm-min){
      & > div {
        .form-row {
          div:first-child {
            text-align: right;
          }
        }
      }
    }
  }

  .booking-survey-issue-row {
    border: solid 1px $smoke-grey-two;
    padding: 7px 22px 7px 12px;
    min-height: 94px;

    & > div {
      &:first-child {
        width: 102px;
      }

      &:last-child {
        padding-right: 0;
        width: calc(100% - 102px);
      }
    }

    .booking-survey-issue-row-image {
      width: 102px;
      height: 64px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    & + .booking-survey-issue-row {
      margin-top: 20px;
    }
  }

  .booking-survey-action-buttons {
    border-top: solid 1px $smoke-grey-two;
    margin-top: 24px;
    padding: 17px 15px;

    button {
      width: 364px;
      max-width: 100%;
    }
  }
}
