// Background Colors
.main-color {
  background-color: $main-color !important;
}

.secondary-color {
  background-color: $secondary-color !important;
}

.tertiary-color {
  background-color: $tertiary-color !important;
}

.facebook-color {
  background-color: $facebook !important;
}

.smoke-grey {
  background-color: $smoke-grey;
}

.smoke-grey-two {
  background-color: $smoke-grey-two;
}

.twilight-blue {
  background-color: $twilight-blue !important;
}

.tomato {
  background-color: $tomato !important;
}

.white {
  background-color: white !important;
}

// Text Colors
.main-text-color {
  color: $main-text-color !important;
}

.secondary-text-color {
  color: $secondary-text-color !important;
}

.tertiary-text-color {
  color: $tertiary-text-color !important;
}

.twilight-blue-text {
  color: $twilight-blue !important;
}

.tomato-text {
  color: $tomato !important;
}

.white-text {
  color: white !important;
}
