// Background Colors
.main-color {
  background-color: $main-color !important;
}

.secondary-color {
  background-color: $secondary-color !important;
}

.terciary-color {
  background-color: $terciary-color !important;
}

.facebook-color {
  background-color: $facebook !important;
}

.smoke-grey {
  background-color: $smoke-grey;
}

.smoke-grey-two {
  background-color: $smoke-grey-two;
}

.twilight-blue {
  background-color: $twilight-blue !important;
}

.white {
  background-color: white !important;
}

// Text Colors
.main-text-color {
  color: $main-text-color !important;
}

.secondary-text-color {
  color: $secondary-text-color !important;
}

.terciary-text-color {
  color: $terciary-text-color !important;
}

.twilight-blue-text {
  color: $twilight-blue !important;
}

.white-text {
  color: white !important;
}
