.credit {
  padding-top: 20px;
}

.credit-card {
  border: 1px solid $smoke-grey;

  .platform-avatar {
    width: 100px !important;
    height: 100px !important;
    padding: 10px;

    img {
      height: 80px;
      width: 80px;
    }
  }

  .title {
    font-size: 30px;
    font-weight: bold;
  }

  a {
    color: $main-text-color;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $main-text-color;
    }
  }

  .credit-name {
    font-size: 19px;
    color: $main-text-color;
  }

  .credit-container {
    width: calc(100% - 100px);
    padding-top: 10px;
  }

  .timestamp {
    color: $tertiary-text-color;
  }

  @media screen and (max-width: $screen-xs-max) {
    .platform-avatar {
      width: 60px !important;
      height: 60px !important;
      padding: 0;
      margin: 10px;
      margin-right: 0;

      img {
        width: 60px !important;
        height: 60px !important;
      }
    }

    .credit-container {
      width: calc(100% - 70px);
      padding-bottom: 10px;

      & > span {
        display: block !important;
        float: none;
        width: 100%;

        &.timestamp {
          text-align: left;
          padding: 0;
        }

        &:last-child {
          margin-top: 15px;
        }
      }
    }
  }
}
