.drivers-license-form {
  input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 14px;
  }

  .form-label {
    padding-top: 5px;
    font-size: 14px;
  }

  .drivers-license-image-limit-div {
    margin-top: 10px;
  }
}
