.fleet-image-gallery {
  .slick-slide {
    position: relative;
  }

  .fleet-image-gallery-remove-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
