#top_search_bar {
  padding: 0 30px;
  height: 66px;
  line-height: 66px;

  #selectListingsSortByBtn {
    margin-left: 15px;
  }

  .top-search-bar-control {
    padding-top: 0;
    height: 40px;
    line-height: 40px;
  }
}

#listingList {
  padding: 20px;

  white-space: nowrap;
  overflow-x: scroll;
}

.listing-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 45px;
	background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  line-height: 45px;
  text-align: center;
}

.previous-listing-btn {
  left: 10px;

  img {
    margin-left: -4px;
  }
}

.next-listing-btn {
  right: 10px;

  img {
    // margin-right: -4px;
  }
}

.listing-item {
  float: none;
  display: inline-block;

  .listing-item-photo-and-title {
    position: relative;
    height: 300px;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .listing-item-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 10px;
      width: 100%;
      height: 38px;
      line-height: 38px;
      background-color: rgba(255, 255, 255, 0.75);
    }

    .listing-item-liked {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  .rating-input,
  .rating-input + span {
    float: left;
    display: inline-block;
  }

  .rating-input + span {
    margin-top: -2px;
    margin-left: 5px;
  }

  .listing-item-year {
    margin-left: 10px;
  }

  @media screen and (min-width: $screen-lg-min) {
    width: calc(100% / 3);
  }
}
