#filters_top_bar {
  padding: 0 30px;
  height: 50px;
  line-height: 50px;

  .selectListingsSortByBtn {
    margin-left: 15px;
  }

  .filters-top-bar-control {
    padding-top: 0;
    height: 32px;
    line-height: 32px;
  }
}

.listings-selector-bar {
  height: 50px;
  line-height: 50px;
  padding: 0 24px;
  margin-bottom: 10px;

  & > span {
    margin-right: 12px;

    & + .dropdown {
      margin-top: -2px;
    }
  }
}

.listing-list {
  padding: 20px;
  min-height: 300px;

  .items-list {
    white-space: nowrap;
    overflow-x: hidden;
  }

  .items-list.full-screen-list {
    white-space: inherit;
  }

  .listing-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 45px;
  	background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .previous-listing-btn {
    left: 10px;

    img {
      margin-left: -4px;
    }
  }

  .next-listing-btn {
    right: 10px;
  }

  .no-listings-to-display-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
}

.listing-item {
  float: none;
  display: inline-block;

  a {
    color: $main-text-color;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .listing-item-photo-and-title {
    position: relative;
    height: 300px;

    & > a > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .listing-item-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 10px;
      width: 100%;
      height: 38px;
      line-height: 38px;
      background-color: rgba(255, 255, 255, 0.75);
    }

    .listing-item-liked {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  .listing-item-info {
    margin-top: 10px;
  }

  .rating-input,
  .rating-input + span {
    float: left;
  }

  .rating-input + span {
    margin-top: -2px;
    margin-left: 5px;
  }

  .listing-item-year {
    margin-left: 10px;
  }

  @media screen and (min-width: $screen-lg-min) {
    width: calc(100% / 3);
  }
}

.listing_map_price {
  cursor: default;

  font-size: 14px;
  font-weight: 200;
  border: 1px solid black;
  background-color: white;
  width: 100%;
  display: inline;
  border-radius: 5px;

  span {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    &.blue {
      color: blue;
    }
  }
}

.listings-map {
  .listings-map-listing-details-div {
    z-index: 50000000;
    width: 276px;
    height: 200px;

    * {
      z-index: 50000000;
    }
  }

  .listing-item {
    width: 100% !important;
    box-shadow: 1px 1px 5px grey;

    .listing-item-photo-and-title {
      height: auto !important;

      & > img {
        height: 184px;
      }

      .listing-item-title {
        bottom: 25px;
        font-size: 12px;
      }
    }

    .listing-item-info {
      padding-left: 6px;
      font-size: 12px;
    }
  }
}

.listings-filters {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 38px 24px;
  width: 100%;
  z-index: 100;

  .fleet-dropdown {
    width: 100%;

    .currentSelectedItem {
      font-size: 16px;
      font-weight: 300;
    }
  }

  .listings-filters-divider {
    height: 1px;
    margin: 34px 0 37px 0;
  }

  .apply-listings-filters-div {
    padding: 17px 0;
  }
}

/* Listings Overview */

.listings-overview-div {
  height: 100%;

  .pageable {
    height: 100%;
  }

  .listings-overview-top-bar {
    height: 50px;
    line-height: 50px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  }

  .listings-overview-list {
    padding: 20px 0;
    height: 100%;
  }
}

.listing-card-link {
  color: inherit;
  display: block;

  &:active,
  &:focus,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.listing-card {
  position: relative;
  height: 94px;
  border: solid 1px $smoke-grey-two;
  cursor: pointer;

  & > a:first-child {
    width: 100%;
    height: 100%;
  }

  .listing-card-photo {
    float: left;
    width: 141px;
    height: 100%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .listing-card-details {
    position: relative;
    float: left;
    width: calc(100% - 141px);
    height: 100%;

    & > p {
      display: block;
      position: absolute;
      top: 7px;
      left: 9px;

      span + span {
        margin-left: 10px;
      }
    }
  }

  .listing-card-edit-button {
    position: absolute;
    right: 15px;
    bottom: 10px;
  }

  & + .listing-card {
    margin-top: 20px;
  }
}

/* Listing Form */
.listing-form {
  .listing-form-current-step {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.listing-form-field-group {
	border: solid 1px $smoke-grey-two;

  .listing-form-field-group-header {
    height: 48px;
    line-height: 48px;
    padding-left: 21px;
  }

  .listing-form-field-group-fields {
    padding: 20px;

    .listing-form-field-group-description + div {
      margin-top: 20px;
    }
  }

  & + .listing-form-field-group {
    margin-top: 20px;
  }
}

.listing-form-field {
  input[type=text],
  textarea,
  select,
  .listing-form-field-label,
  .fleet-dropdown {
    height: 36px;
  }

  .listings-readonly-value {
    line-height: 36px;
  }

  .fleet-dropdown {
    .currentSelectedItem {
      height: 34px;
      line-height: 34px;
      padding: 0 10px;

      img {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .dropdown-items {
      position: absolute;
      top: 100%;
      left: -1px;
      right: -1px;
      background: white;
      z-index: 20;
      border: solid 1px $warm-grey;
      border-top: none;
    }
  }

  .listing-form-field-label {
    line-height: 36px;
  }

  & + .listing-form-field {
    margin-top: 20px;
  }
}

/* Listing Location */
.listing-form-location {
  .listing-form-location-disclaimer {
    position: absolute;
    bottom: 0;
    height: 36px;
    line-height: 36px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .listing-form-location-selected-address {
    padding: 9px 24px;
    height: 50px;

    #listing_form_location_selected_address {
      display: inline-block;
      padding-left: 10px;
      width: calc(100% - 61px);
      height: 32px;
    }

    .listing-step-buttons {
      display: inline-block;
      position: relative;
      margin-left: -10px;
      margin-top: 0;
      padding: 0;
      top: -1px;
      width: 61px;
      height: 32px;
      float: none !important;

      .proceed-to-step-btn {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

/* Listing Images */
.listing-form-images {
  .listing-form-images-upload-btn {
    margin-top: 20px;
    padding-top: 0;
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
  }

  .loading-div {
    height: 350px;
  }

  .fleet-image-gallery {
    width: 100%;
    height: 350px;

    img:not(.fleet-image-gallery-remove-icon) {
      height: 350px;
    }
  }

  .images-carousel-empty-div img {
    width: 100%;
    object-fit: cover;
  }

  #listing_images_uploaded_input {
    width: 0;
    height: 0;
  }
}

/* Listing Prices */
.listing-form-pricing {
  .listing-on-demand-rate-row  {
    & + .listing-on-demand-rate-row {
      margin-top: 20px;
      padding-top: 20px;
      border-top: solid 1px lightgrey;
    }

    & + .listing-form-odc-rate-add-new {
      margin-top: 15px;
    }
  }
}

/* Listing Rules */
.listing-form-rules {
  #listing_rules {
    resize: none;
    min-height: 200px;
  }
}

.listing-step-buttons {
  margin-top: 20px;

  .proceed-to-step-btn {
    padding-top: 0;
    height: 32px;
    line-height: 32px;
    letter-spacing: 0.2px;
  }

  & > a + .proceed-to-step-btn {
    margin-left: 10px;
  }
}

/* Listing View */
.listing-view-div {
  .fleet-image-gallery {
    height: 475px;
  }

  .listing-view-listing-title {
    .listing-view-rating-reviews {
      float: left;
      margin-top: 5px;
    }

    .listing-view-listing-year {
      margin-left: 15px;
    }
  }

  .listing-view-main-content {
    margin-top: 24px;
    margin-bottom: 24px;

    .listing-view-user-details {
      position: absolute;
      right: 0;
      top: 0;

      img {
        width: 74px;
        height: 74px;
        border-radius: 74px;
        object-fit: cover;

        & + span {
          display: block;
          margin-top: 5px;
        }
      }
    }
  }

  .rating-input {
    float: left;

    label {
      font-size: 15px;
    }

    & + span {
      float: left;
      margin-left: 8px;
      margin-top: -5px;
    }
  }

  .listing-view-listing-specs {
    border-top: solid 1px $smoke-grey-two;
    border-bottom: solid 1px $smoke-grey-two;
    height: 45px;
    line-height: 45px;

    .listing-view-listing-spec {
      display: inline-block;

      img {
        margin-top: -7px;
        margin-right: 5px;
      }

      & + .listing-view-listing-spec {
        margin-left: calc((100% - 385px) / 2);
      }
    }
  }

  .listing-view-listing-amenities {
    padding: 10px 0;

    .listing-view-listing-amenities-title {
      width: 82px;
    }

    .listing-view-listing-amenities-list {
      margin-left: 60px;
      width: calc(100% - 142px);

      .listing-view-listing-amenity {
        display: inline-block;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .listing-view-booking-div + .listing-view-map {
    margin-top: 24px;
  }

  .listing-view-map + div {
    margin-top: 24px;
  }

  .listing-view-buttons {
    button {
      width: 200px;
    }
  }
}
