body {
  font-family: $text-font-family;
  font-weight: $text-main-font-weight;
}

form {
  input {
    &::-webkit-input-placeholder {
      color: $placeholder-text-color !important;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $placeholder-text-color !important;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $placeholder-text-color !important;
    }

    &:-ms-input-placeholder {
      color: $placeholder-text-color !important;
    }
  }
}
