#message-input-row {
  #message-input {
    padding-left: 10px;
    height: 30px;
    outline: none;
  }

  i.pull-right {
    margin-top: 4px;
  }
}

.messages-select-vehicle-placeholder {
  font-size: 25px;
  color: #cccccc;
  padding-top: 20px;
}
