.modal-row {
  margin-top: 10px;
}

.modal-button {
  font-size: 14px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-radius: 5px !important;
  height: auto !important;
  line-height: inherit !important;

  i {
    font-size: 14px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: auto !important;
    line-height: inherit !important;
  }
}

.modal {
  .modal-header {
    padding: 10px;
  }

  .modal-text {
    display: table;
    padding: 30px 60px;
    min-height: 100px;
    width: 100%;

    & > div {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.confirmation-modal {
  .modal-footer {
    & > div + div {
      margin-top: 10px;
    }
  }
}
