.rating-input {
    display: table;

    & > div {
        display: table-cell;
    }

    input {
        position: absolute;
        top: -9999px;
        clip: rect(0,0,0,0);
    }

    label {
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        line-height: 1.2;
        color: #ddd;
        text-shadow: none;
    }

    label:before {
        content: '★ ';
    }

    label:hover,
    label:hover ~ label,
    input:checked ~ label {
        color: $sun-yellow;
    }

    input:checked + label:hover,
    input:checked + label:hover ~ label,
    input:checked ~ label:hover,
    input:checked ~ label:hover ~ label,
    label:hover ~ input:checked ~ label {
        color: $sun-yellow;
    }

    label:active {
        position: relative;
        top: 2px;
        left: 2px;
    }
}
