.review {
  padding-top: 15px;
  padding-bottom: 15px;

  & + .review {
    border-top: 1px solid $smoke-grey;
  }
}

.reviewer-name {
  color: $main-text-color;
  text-decoration: none;
  font-size: 19px;
  margin-right: 10px;

  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.review-title {
  padding-top: 15px;
  font-size: 30px;

  .title {
    font-weight: bold;
  }

  .count {
    font-size: 20px;
    padding-left: 5px;
  }

  .link {
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    padding-top: 10px;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.review-reviewer-image {
  max-width: 100px;
}

.review-feedback {
  margin-left: 20px;
  max-width: calc(100% - 120px);

  p + p {
    margin-top: 20px;
  }
}

@media screen and (max-width: $screen-xs-max){
  .reviews-rating,
  .rating-input
   {
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }

  .review .sb-avatar {
    width: 100% !important;

    img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 60px !important;
      height: 60px !important;
      border-radius: 60px !important;
    }
  }

  .review-reviewer-image {
    max-width: 60px;
  }

  .review-feedback {
    max-width: calc(100% - 80px);
  }
}
