.location-search-results {
  margin-left: -1px;
  margin-top: 10px;

  .dropdown-menu {
    max-width: 230px;
    overflow: hidden;
  }
}

button.search {
  font-weight: 200;
  padding: 7px 12px;
  font-size: 16px;
  box-shadow: none;
  margin-left: 10px;
  background-color: white;
  border: none;
  color: $secondary-color;

  &:active,
  &:hover,
  &:focus {
    box-shadow: none;
    background-color: white !important;
    border: none;
    color: $secondary-color !important;
  }
}
