.text-main-font-weight {
  font-weight: $text-main-font-weight;
}

.text-secondary-font-weight {
  font-weight: $text-secondary-font-weight;
}

.title-font-weight {
  font-weight: $title-font-weight;
}

.subtitle-font-weight {
  font-weight: $subtitle-font-weight;
}

.strong-font-weight {
  font-weight: $strong-font-weight;
}

// Font sizes
.fs-16px {
  font-size: 16px;
}
